body {
    background:url(/images/background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.85;
    .container {
        background-color: rgba(40, 40, 40, 0.85);
    }
}